{:kotoba.app/id "cloud.itonami.isic-0220", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidms4nznp3rzwsy6mlpze7yg5ntbzsrxb22g7bkzrfpc7wm4qlu6u", :kotoba.app/embed-url "ipfs://bafkreidms4nznp3rzwsy6mlpze7yg5ntbzsrxb22g7bkzrfpc7wm4qlu6u", :published {:archive "https://kotobase.net/ipfs/bafkreidms4nznp3rzwsy6mlpze7yg5ntbzsrxb22g7bkzrfpc7wm4qlu6u", :size 72408, :put-status 201, :get-status 200, :at "2026-08-15T13:38:59.073Z"}}
